services:
  discord_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dsbot
    volumes:
      - ./src:/app
    environment:
      - SCP_SL_EU_BOT_TOKEN=${SCP_SL_EU_BOT_TOKEN}
      - SCP_SL_EU_BOT_2_TOKEN=${SCP_SL_EU_BOT_2_TOKEN}
      - TEST_BOT_TOKEN=${TEST_BOT_TOKEN}
    stdin_open: true
    tty: true
    restart: unless-stopped
